/*Home*/

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F9FF;
}

.header {
  background-image: linear-gradient(to left bottom, #404865, #464c68, #4d506b, #53556f, #595972, #646079, #6f6780, #7a6e87, #8e7a93, #a3869e, #b792a8, #cc9fb1);;
}

p {
  font-size: 40px;
}

.home {
  background-color: #F7F9FF;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
}

.layer{
  /*background-color: red;*/
  height: 650px;
  border-bottom-right-radius: 100px;
  padding-top:40px ;
}
.nav{
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

/*.nav .logo{
    position: relative;
    color: #111;
    font-weight: 500;
    padding-left: 80px;
    top: 20px;
}*/
.nav .nav-menu .btn-5 {
  border: none;
  color: #03c8a8;
  background-color: #96e4df;
}
.nav .nav-menu .btn-5:hover {
  color: #03c8a8;
  background: transparent;
  box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #03c8a8;
  box-shadow:
      -1px -1px 5px 0px #fff,
      7px 7px 20px 0px #0003,
      4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}

.nav .nav-menu a:hover{
  background-color: #ffffff;
  color: #c500d6;
  transition: .2s;
}

button{
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 50px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
  inset -7px -7px 10px 0px rgba(0,0,0,.1),7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  text-shadow:  2px 2px 3px rgba(255,255,255,.5),
  -4px -4px 6px rgba(116, 125, 136, .2);
  outline: none;
}

.hero-box{
  display: flex;
  padding-top: 30px;
  color: #111;
}

.hero-box .left-side{
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}



/*.hero-box .left-side h2{*/
/*  text-transform: uppercase;*/
/*  font-family: 'Oswald',sans-serif;*/
/*  color: white;*/
/*  font-size: 30px;*/
/*  line-height: 2;*/
/*}*/

/*.hero-box .left-side h4{*/
/*  font-size: 20px;*/
/*  text-transform: uppercase;*/
/*  font-family: 'Oswald',sans-serif;*/
/*  line-height: 2;*/
/*}*/
/*.hero-box .left-side p{*/
/*  text-align: center;*/
/*}*/

.hero-box .btn-11 {
  border: none;
  background: rgb(251,33,117);
  background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
  background: #f7d0f5;
  color: rgba(251,33,117,.5);
  overflow: hidden;
}
.hero-box .btn-11:hover {
  text-decoration: none;
  color: #fff;
}
.hero-box .btn-11:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.hero-box .btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
  -4px -4px 6px 0 rgba(116, 125, 136, .2),
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

@-webkit-keyframes shiny-btn1 {
  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
  81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

.hero-box .left-side a:hover{
  background-color: #ffffff;
  color: #c500d6;
  transition: .2s;

}

/* Right Side */
.hero-box .right-side{
  width: 50%;
}

.hero-box .right-side .image-box{
  width: 350px;
  height: 350px;
  border: 5px solid #ECB8D0;
  margin: auto;
  border-bottom-right-radius: 20px;
  position: relative;

}

.hero-box .right-side .image-box::before{
  content: "";
  width: 100%;
  height: 100%;
  border: 5px solid #ffffff;
  position: absolute;
  top: 0;
  left: 20px;
  border-bottom-right-radius: 20px;
  animation: slide 0.8s ease-in;
  animation-delay: 2s;

}

.hero-box .right-side .image-box .profile-image{
  background-image: url("https://avatars3.githubusercontent.com/u/5108244?s=460&u=2cefca43cc417f7c25a4c3e0b92cc265cc5bbe4a&v=4");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  border-bottom-right-radius: 20px;
  animation: slide 0.8s ease-in;
  animation-delay: 1s;
}

/* Animation */
@keyframes slide{
  0%{
    transform: translateX(500px);
  }100%{
     transform: translateX(0);
   }
}


