.contact {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-around;
  align-items: end;
  border: solid 2px red;

}

.img-thai{
  grid-column: 1;
}

.contact-thai {
  grid-column: 2;
}
.thai-ilustration {
  max-width: 160px;
}