.contact {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-around;
  align-items: center;
  padding-top: 4em;
  min-height: 60vh;
}

.img-thai{
  grid-column: 1;
}

.contact-thai {
  grid-column: 2;
  padding-bottom: 4rem;
}

.contact-thai-msg p{
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  letter-spacing: 0.1rem;
}

.thai-ilustration {
  max-width: 300px;
}

.contact-thai-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 4rem;
  color: #988AB5;
}

.btn-circle {
  font-size: 2.5rem;
}

.btn:hover {
  color: #b38cc4;
}