
body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
}

a {
    color:inherit;
    text-decoration:none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: start;
}

.con {
    margin:0 auto;
}

.img-box > img {
    width:100%;
    display:block;
}

.row::after {
    content:"";
    display:block;
    clear:both;
}

.cell {
    float:left;
    box-sizing:border-box;
}

.cell-right {
    float:right;
    box-sizing:border-box;
}

.margin-0-auto {
    margin:0 auto;
}

.height-100p {
    height:100%;
}

.width-50p {
    width:50%;
}

.height-50p {
    height:50%;
}

.height-33p {
    height:33.3333%;
}

.block {
    display:block;
}

.inline-block {
    display:inline-block;
}

.text-align-center {
    text-align:center;
}

.line-height-0-ch-only {
    line-height:0;
}

.line-height-0-ch-only > * {
    line-height:normal;
}

.relative {
    position:relative;
}

.absolute-left {
    position:absolute;
    left:0;
}

.absolute-right {
    position:absolute;
    right:0;
}

.absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.width-100p {
    width:100%;
}

.table {
    display:table;
}

.table-cell {
    display:table-cell;
}

.vertical-align-top {
    vertical-align:top;
}

.vertical-align-middle {
    vertical-align:middle;
}

.vertical-align-bottom {
    vertical-align:bottom;
}







body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

[data-position] {
    opacity: 0;
    position: relative;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    display: inline-block;
}

[data-position="left"] {
    left: 100px;
}

[data-position="right"] {
    right: 100px;
}

[data-position="bottom"] {
    bottom: 100px;
}

[data-position="top"] {
    top: 100px;
}

/* top-bar */

.navegation-static {
    position: fixed;
    z-index: 100;
    transition: all 0.3s ease;
    background:#354ba1;
    padding: 20px;
    width: 100%;
    color:#fff;
}

.navegation-static > a.logo {
    position:relative;
    font-size:29.2px;
    font-weight:bold;
    color:#ebd134;
    margin-left:30px;
    padding-top:30px;
    font-family:'NotoSansKR';
    transition: 0.3s;
}

.navegation-static > ul {
    font-family:'NotoSansKR';
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
    position: fixed;
    right: 80px;
    color:#fff;
    top: 0;
}

.navegation-static > ul li {
    margin-right: 60px;
    margin-top:20px;
}

.navegation-static > ul li a {
    display: block;
    font-size:30px;
    transition: 0.3s;
}

.active {
    color: #ebd134;
    border-bottom: 4px solid #ebd134;
}

a {
    font-size: 14px;
    line-height: 50px;
}

/* HOME */





.top-img {
    position:relative;
    z-index:3;
}
.top-img > .img {
    position:absolute;
    margin-top:21%;
    margin-left:46%;
    width:80px;
    height:80px;
    border-radius:50%;
    background:#fe854e;
}
.top-img > .img > img {
    width:50px;
    height:61px;
    margin-left:58%;
    margin-top:23%;
}
.top-img > .img > img {
    white-space:nowrap;
}

.top-img > .img > img {
    position:relative;
    opacity:0;
    transform:translateY(150px);
    transition: transform 2s;
}
.top-img > .img::before {
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    border-radius:50%;
    border:140px solid #354ba1;
    border-top-color:transparent;
    border-left-color:transparent;
    border-right-color:transparent;
    transform:rotate(-20deg);
    bottom:-175%;
    right:-175%;
    z-index:1;

}

.top-img.hover > .img > img {
    transform:translateY(0);
    opacity:1;
}


.top-1 {
    top:0;
    position:relative;
    z-index:1;
}
.top-1  > div:nth-child(1) {
    position:absolute;
    width:5px;
    height:150px;
    margin-top:7%;
    margin-left:1.6%;
    background:#fff;
}
.top-1  > div:nth-child(2) {
    position:absolute;
    color:#fff;
    font-size:24.59px;
    margin-top:44.2%;
    margin-left:1.6%;
}
#home {
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position: relative;
    background:#354ba1;
}

#home > .scroll-down > i {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 80px;
    border: 5px solid #fff;
    border-radius: 50px;
}

#home > .scroll-down > i::before {
    content: "\f107";
    position: absolute;
    font-size:1.5rem;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #ebd134;
    animation: scrollDown 2s infinite;
}

#home > .text {
    position: absolute;
    left: 52%;
    top: 28%;
    font-family:'Headline R';
    font-size:130px;
    transition: .3s;
}

#home > .text > p {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}
#home > .text > p > span {
    color:#ebd134;
    text-shadow:10px 16px 10px rgba(0,0,0,.5);
}

.wid {
    position:absolute;
    width:600px;
    height:20px;
    margin-left:70.2%;
    margin-top:26%;
    background:#fff;
}
.word {
    position: absolute;
    width: 1200px;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


@keyframes scrollDown {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 22px);
    }
}

@media screen and (max-width: 1200px) {
    .top-img > .img {
        margin-top:27%;
        margin-left:22%;
        width:80px;
        height:80px;
    }
    .wid {
        margin-left:60.2%;
        margin-top:33%;
    }
    .top-1  > div:nth-child(1) {
        margin-left:2%;
    }
    .top-1  > div:nth-child(2) {
        display:none;
    }
    .navegation-static > ul {
        right: 0;
    }

    .navegation-static > ul li a {
        font-size: 0.9em;
    }

    #home > .text {
        left: 30%;
        font-size: 6em;
    }

    .word {
        width: 570px;
    }
}

@media screen and (max-width: 768px) {
    .top-img > .img {
        margin-top:43%;
        margin-left:12%;
        width:80px;
        height:80px;
    }
    .wid {
        margin-left:60.2%;
        margin-top:50%;
    }
    .top-1  > div:nth-child(1) {
        margin-left:3%;
    }
    .navegation-static > a.logo {
        margin-left: 30px;
        font-size: 1.8em;
    }

    .navegation-static > ul li {
        margin-right: 30px;
    }

    .navegation-static > ul li a {
        font-size: 0.8em;
    }

    #home > .text {
        left: 25%;
        font-size: 5em;
    }

    .word {
        width: 480px;
    }
}

@media screen and (max-width: 542px) {
    .top-img > .img {
        display:none;
    }
    .wid {
        margin-left:60.2%;
        margin-top:65%;
        height:15px;
    }
    .top-1  > div:nth-child(1) {
        margin-left:4%;
    }
    .navegation-static > ul {
        height: 400px;
    }

    #home > .text {
        left: 17%;
        font-size: 4.5em;
    }

    .word {
        width: 440px;
    }
}


/* 도널드 */
.donerd {
    border-top:1px solid #fff;
    position:relative;
    background:#354ba1;
    width:1903px;
    height:1000px;
}
.donerd > div {
    display:inline-block;
}
.donerd > .do-1 {
    font-family:'HYGothic-Extra';
    font-size:170px;
    color:#ebd134;
    margin-left:28%;
    margin-top:18%;
}
.donerd > .do-2 {
    position:absolute;
    margin-left:-7%;
    margin-top:20%;
    transform:scale(0.1);
    transition: transform 10s;
}

.donerd.hover > .do-2 {
    transform:scale(1);
}
.donerd > .do-3 {
    margin-left:5%;
    animation:scroll 1s ease-out infinite;
}
@keyframes scroll {
    0% {
        transform: rotate(40deg);
    }

    30% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-40deg);
    }
-0% {
    transform: rotate(-40deg);
}

-30% {
    transform: rotate(0deg);
}

-100% {
    transform: rotate(40deg);
}
}


/* ABOUT */

#about {
    height: 100%;
    width: 100%;
    text-align: center;
}

#about > .title {
    font-size: 25px;
    font-family: "Noto Sans KR", sans-serif;
    padding-top: 100px;
    padding-bottom:10px;
    font-weight:bold;
    border-bottom: 4px solid #000;
}


#about > .profile {
    position: relative;
}

#about > .profile > .img-box {
    max-width: 1903px;
    margin: 0 auto;
}

#about > .profile-1 > .img-box {
    display: none;
    transition: .3;
}
@media screen and (max-width: 1200px) {
    .donerd > .do-1 {
        font-size:100px;
        margin-left:15%;
    }
    .donerd > .do-2 {
        display:none;
    }
}

@media screen and (max-width: 768px) {
    #about > .profile > .img-box {
        display: none;
        transition: .3;
    }
    #about > .profile-1 > .img-box {
        display: block;
        transition: .3;
        text-align:center;
        position:relative;
    }
    .donerd > .do-1 {
        font-size:100px;
        margin-left:2%;
    }
    .donerd > .do-2 {
        display:none;
    }
    #about {
        margin-bottom:120%;

    }

    #about > .profile > .img-box:first-child {

    }
}

@media screen and (max-width: 542px) {
    #about {
        margin-bottom:75%;

    }
    .donerd > .do-1 {
        font-size:100px;
        text-align:center;
        margin-left:4.2%;
    }
    .donerd > .do-3 {
        display:none;
    }
    #about > .profile > .img-box:nth-of-type(2) {
        width: 100%;
    }
}

/* PORTFOLIO - WEB */

#portfolio {
    text-align: center;
    transition: .3s;
}

#portfolio > .title {
    padding-top: 300px;
}



.ux {
    text-align:center;
    margin-top:3%;
    margin-bottom:3%;
    border-bottom:4px solid #000;
}

.ux > div {
    font-size:25px;
    margin-top:1%;
    margin-bottom:1%;
    font-weight:bold;
}



.owl-carousel.owl-drag .owl-item {
    width:400px;
    height:50%;
}
.owl-carousel.owl-drag .owl-item h1 {
    font-size:25px;
    text-align:center;
    color:#000;
}
.owl-carousel.owl-drag .owl-item h2 {
    font-size:15px;
    text-align:center;
    color:#000;
}
.owl-carousel.owl-drag .owl-item.active {
    border-bottom:0;
}
.owl-theme .owl-dots .owl-dot.active {
    border-bottom:0;
}

.owl-carousel.owl-drag .owl-item:hover::after {
    content:"클릭";
    color:#fff;
    text-align:center;
    line-height:43px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width:250px;
    height:43px;
    z-index:10;
    background:rgba(0,0,0,.6);
    border:3px solid #fff;
}
.owl-carousel.owl-drag .owl-item {
    left:0;
    right:0;
}
/*  폰트 적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
}

a {
    color:inherit;
    text-decoration:none;
}

/* 라이브러리 */
.con {
    margin:0 auto;
}



.con-min-width {
    min-width:1180px;
}



.por {
    text-align:center;
    margin-top:6%;
    margin-bottom:5%;
    border-bottom:4px solid #000;
}

.por > div {
    font-size:25px;
    margin-top:1%;
    margin-bottom:1%;
    font-weight:bold;
}













/* sbs 슬라이더 2 */
.sbs-slider-2 {
    position:relative;
    overflow:hidden;
}

.sbs-slider-2 > .slides {
    position:absolute;
    top:0;
    left:50%;
    bottom:0;
    white-space:nowrap;
    line-height:0;
}

.sbs-slider-2 > .slides > li {
    line-height:normal;
    display:inline-block;
}

.sbs-slider-2 > .slides > li > div {
    height:100%;
    position:relative;
    cursor:pointer;
}

.sbs-slider-2 > .slides > li > div::after {
    content:"";
    position:absolute;
    background-color:rgba(255,255,255,0.5);
    top:0;
    left:0;
    right:0;
    bottom:0;
    transition:background-color 0.3s;
    pointer-events:none;
}

.sbs-slider-2 > .slides > li:hover > div::after, .sbs-slider-2 > .slides > li.active > div::after {
    background-color:rgba(255,255,255,0);
}

.sbs-slider-2 > .slides > li > div > .bg-img {
    position:absolute;
    top:0;
    left:10px;
    right:10px;
    bottom:0;
    background-position:center;
    background-size:cover;
}

.sbs-slider-2 > .nav-btns > div {
    position:absolute;
    width:50px;
    height:50px;
    background-color:rgba(0,0,0,0.5);
    border-radius:50%;
    top:50%;
    transform:translateY(-50%);
    left:0;
    margin:0 20px;
    cursor:pointer;
}

.sbs-slider-2 > .nav-btns > div:last-child {
    left:auto;
    right:0;
}

.sbs-slider-2 > .nav-btns > div > span {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    color:white;
}

/* 탑박스 1 */
.top-box-1 {
    position:relative;
    padding-top:200px;
    padding-bottom:200px;
}

.top-box-1 .sbs-slider-2-1-wrap {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width:730px;
    height:557px;
    background-image:url(https://storage.googleapis.com/i.addblock.net/intro/intro_pc_160108.png);
    background-position:center;
    background-size:cover;
}

.top-box-1 .sbs-slider-2-1 {
    width:690px;
    height:365px;
    margin:0 auto;
    margin-top:20px;
}


.top-box-1 .sbs-slider-2-1 > .slides > li > div > .bg-img {
    left:0;
    right:0;
}
.top-box-1 .sbs-slider-2-1 > .slides > li:hover > div > .bg-img::after {
    content:"모작";
    color:#fff;
    text-align:center;
    line-height:43px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width:183px;
    height:43px;
    z-index:10;
    border:3px solid #fff;
}
.top-box-1 .sbs-slider-2-1 > .slides > li:nth-child(4):hover > div > .bg-img::after {
    content:"리디자인";
}
.top-box-1 .sbs-slider-2-1 > .slides > li:nth-child(5):hover > div > .bg-img::after {
    content:"리디자인";
}
.top-box-1 .sbs-slider-2-1 > .slides > li:nth-child(6):hover > div > .bg-img::after {
    content:"리디자인";
}
.top-box-1 .sbs-slider-2-1 > .slides > li:nth-child(8):hover > div > .bg-img::after {
    content:"리디자인";
}
.top-box-1 .sbs-slider-2-1 > .slides > li:nth-child(9):hover > div > .bg-img::after {
    content:"리디자인";
}
.top-box-1 .sbs-slider-2-1 > .slides > li:hover > div > .bg-img.active::after{
    background:#fff;
    color:#000;
    font-weight:bold;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #354ba1 !important;
}
.owl-theme .owl-dots .owl-dot span {
    background:#ebd134 !important;
}
.top-box-1 .sbs-slider-2-1 > .slides > li > div {
    position:relative;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.top-box-1 .sbs-slider-2-1 > .slides > li:hover > div > .bg-img::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.7);
}

.top-box-1 .sbs-slider-2-1 > .nav-btns {
    display:none;
}

.top-box-1 .sbs-slider-2-1 > .slides > li > div::after {
    display:none;
}

@media screen and (max-width: 1200px) {
    #portfolio > .title {
        padding-top: 100px;
    }
    #portfolio > .web > h1 > img {
        width: 50%;
    }

    #portfolio > .web > .yogerpresso > .img-box {
        width: 100%;
    }

    #portfolio > .web > .yogerpresso > ul > li > a {
        top: -180px;
        margin-left: 430px;
    }

    #portfolio > .web > .loving > .img-box {
        width: 100%;
    }

    #portfolio > .web > .loving > ul > li > a {
        top: -180px;
        margin-left: 540px;
    }

    #portfolio > .web > .rothy > .img-box {
        width: 100%;
    }

    #portfolio > .web > .rothy > ul > li > a {
        top: -180px;
        margin-left: 520px;
    }

    #portfolio > .graphic > h1 > img {
        width: 50%;
    }

    #portfolio > .graphic > .album > .img-box {
        width: 100%;
    }

    #portfolio > .graphic > .info > .img-box {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #portfolio > .web > .yogerpresso > ul > li > a {
        top: 0;
        margin-left: 0;
    }

    #portfolio > .web > .loving > ul > li > a {
        top: 0;
        margin-left: 0;
    }

    #portfolio > .web > .rothy > ul > li > a {
        top: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 542px) {
    #portfolio > .web > .yogerpresso > ul > li > a > img {
        width: 25%;
    }

    #portfolio > .web > .loving > ul > li > a > img {
        width: 25%;
    }

    #portfolio > .web > .rothy > ul > li > a > img {
        width: 25%;
    }
}

.cat {
    position: relative;
    height: 90px;
    width: 102.1px;
}
.ear {
    position: absolute;
    top: -30%;
    height: 60%;
    width: 25%;
    background: #fff;
}
.ear::before, .ear::after {
    content: '';
    position: absolute;
    bottom: 24%;
    height: 10%;
    width: 5%;
    border-radius: 50%;
    background: darkslateblue;
}
.ear::after {
    transform-origin: 50% 100%;
}
.ear--left {
    left: -7%;
    border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
    transform: rotate(-15deg);
}
.ear--left::before, .ear--left::after {
    right: 10%;
}
.ear--left::after {
    transform: rotate(-45deg);
}
.ear--right {
    right: -7%;
    border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
    transform: rotate(15deg);
}
.ear--right::before, .ear--right::after {
    left: 10%;
}
.ear--right::after {
    transform: rotate(45deg);
}
.face {
    position: absolute;
    height: 100%;
    width: 100%;
    background: darkslateblue;
    border-radius: 50%;
}
.eye {
    position: absolute;
    top: 35%;
    height: 30%;
    width: 31%;
    background: #fff;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
.eye::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-radius: 0 0 50% 50Array/0Array 0 40% 40%;
    background: darkslateblue;
    animation: blink 4s infinite ease-in;
}
@keyframes blink {
    0% {
        height: 0;
    }
    90% {
        height: 0;
    }
    92.5% {
        height: 100%;
    }
    95% {
        height: 0;
    }
    97.5% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}
.eye::before {
    content: '';
    position: absolute;
    top: 60%;
    height: 10%;
    width: 15%;
    background: #fff;
    border-radius: 50%;
}
.eye--left {
    left: 0;
}
.eye--left::before {
    right: -5%;
}
.eye--right {
    right: 0;
}
.eye--right::before {
    left: -5%;
}
.eye-pupil {
    position: absolute;
    top: 25%;
    height: 50%;
    width: 20%;
    background: darkslateblue;
    border-radius: 50%;
    animation: look-around 4s infinite;
}
@keyframes look-around {
    0% {
        transform: translate(0);
    }
    5% {
        transform: translate(50%, -25%);
    }
    10% {
        transform: translate(50%, -25%);
    }
    15% {
        transform: translate(-100%, -25%);
    }
    20% {
        transform: translate(-100%, -25%);
    }
    25% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
.eye--left .eye-pupil {
    right: 30%;
}
.eye--right .eye-pupil {
    left: 30%;
}
.eye-pupil::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -5%;
    height: 20%;
    width: 35%;
    border-radius: 50%;
    background: #fff;
}
.muzzle {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 6%;
    width: 10%;
    background: #fff;
    transform: translateX(-50%);
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}


